* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;  
    font-size: 30px;
}

body {
    background-color: black;
}

h1 {
    font-size: 50px;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 2;
}

nav h1 {
    color: black;
    font-family: 'Corinthia', cursive;
    font-size: 60px;
    align-self: center;
    margin-left: 20px;
}

.rightNavWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

.rightNavWrapper ul {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
}

.rightNavWrapper ul {
    list-style: none;
}

.rightNavWrapper ul li a {
    text-decoration: none;
    color: black;
}

.rightNavWrapper ul li a:hover {
    color: rgb(90, 90, 90);
    text-decoration: underline;
}

.hamburgerMenu {
    margin: 0;
}

.bar {
    width: 48px;
    height: 6px;
    background-color: black;
    margin: 6px;
    border-radius: 2px;
    align-self: flex-start;
}

#gridWrapper {
    display: grid;
    width: 100%;

    grid-template-areas: 
        "mp mp"
        "l1W r1H"
        "l1W r2W"
        "l2W r2W"
        "l2W r3W"
        "l3W r3W"
        "l3W r4W"
        "l4H r4W"
        "fo fo"
    ;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(800px, 100vh) repeat(7, minmax(300px, calc(50vh - 40px))) 96px;
}



#mainPage {
    grid-area: mp;
    background-image: url(../img/watermark-designs-XL6gfkLmkOw-unsplash.jpg);
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    max-height: 100wh;
}

#mainPage img {
    height: 30%;
}





#left1Whole {
    grid-area: l1W;
    background-color: white;
    background-image: url(../img/christian-mackie-cc0Gg3BegjE-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

#left1Whole h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
}

#left1Whole div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#left1Whole img {
    width: 100px;
    height: auto;
}

#right1Half {
    grid-area: r1H;
    background-color: white;
    color: white;
    background-image: url(../img/ty-finck-U_2AlnfIGIU-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#right1Half h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
}

#right1Half div {
    width: 90%;
    text-align: center;
}

#left2Whole {
    grid-area: l2W;
    background-color: white;
    color: white;
    background-image: url(../img/febrian-zakaria-SiQgni-cqFg-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-position: center;
}

#left2Whole h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    color: black;
    text-align: center;
}

#left2Whole div {
    width: 90%;
    text-align: center;
}

#right2Whole {
    grid-area: r2W;
    background-color: white;
    color: white;
    background-image: url(../img/chad-montano-eeqbbemH9-c-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#right2Whole h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20%;
}

#right2Whole div {
    width: 90%;
    text-align: center;
}

#left3Whole {
    grid-area: l3W;
    background-color: white;
    color: black;
    background-image: url(../img/nathan-dumlao-m0ucB-06v7k-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#left3Whole h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    text-align: center;
}

#left3Whole div {
    width: 90%;
    text-align: center;
}

#right3Whole {
    grid-area: r3W;
    background-color: white;
    color: white;
    background-image: url(../img/nathan-dumlao-bRdRUUtbxO0-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    backdrop-filter: blur(2px);
}

#right3Whole h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    text-align: center;
}

#right3Whole div {
    width: 90%;
    text-align: center;
    border-radius: 5px;
}

#left4Half {
    grid-area: l4H;
    background-color: cadetblue;
}

#right4Whole {
    grid-area: r4W;
    background-color: white;
    color: white;
    background-image: url(../img/stephanie-mccabe-U3zasaqWD-I-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#right4Whole h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    text-align: center;
}

#right4Whole div {
    width: 90%;
    text-align: center;
}

#footer {
    grid-area: fo;
    background-color: coral;
}