/* THIS FILE APPLIES TO EVERY PAGE */

* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;  
    font-size: 30px;
}

body {
    background-color: black;
}

h1 {
    font-size: 50px;
}

/* NAV STYLING */

nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 2;
}

nav > img {
    height: 70px;
    width: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

nav > h1 {
    color: black;
    align-self: center;
    margin-left: 20px;
}

nav > h1 > a {
    color: inherit;
    text-decoration: none;
    font-family: 'Corinthia', cursive;
    font-size: 60px;
} 

.rightNavWrapper {
    display: flex;
    flex-wrap: wrap;
}

.rightNavWrapper ul {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
}

.rightNavWrapper ul {
    list-style: none;
}

.rightNavWrapper ul li a {
    text-decoration: none;
    color: black;
}

.rightNavWrapper ul li a:hover {
    color: rgb(90, 90, 90);
    text-decoration: underline;
}

/* GRID WRAPPER SETUP */

#gridWrapper {
    display: grid;
    width: 100%;

    grid-template-areas: 
        "mp mp"
        "l1W r1H"
        "l1W r2W"
        "l2W r2W"
        "l2W r3W"
        "l3W r3W"
        "l3W r4W"
        "l4H r4W"
        "fo fo"
    ;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(800px, 100vh) repeat(7, minmax(300px, calc(50vh - 40px))) 96px;
}

/* MAIN PAGE STYLING */

#mainPage {
    grid-area: mp;
    background-image: url(../img/compressedImages/watermark-designs-XL6gfkLmkOw-unsplash.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100wh;
}

/* INDIVIDUAL GRID BLOCK STYLING */

#left1Whole {
    grid-area: l1W;
    background-color: white;
    background-image: url(../img/compressedImages/christian-mackie-cc0Gg3BegjE-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

#left1Whole h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
}

#left1Whole div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#left1Whole img {
    width: 100px;
    height: auto;
}

#right1Half {
    grid-area: r1H;
    background-color: white;
    color: black;
    background-image: url(../img/compressedImages/ty-finck-U_2AlnfIGIU-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#right1Half h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    color: white;
}

#right1Half div {
    width: 90%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#left2Whole {
    grid-area: l2W;
    background-color: white;
    color: black;
    background-image: url(../img/compressedImages/febrian-zakaria-SiQgni-cqFg-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-position: center;
}

#left2Whole h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    color: black;
    text-align: center;
}

#left2Whole div {
    width: 90%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#right2Whole {
    grid-area: r2W;
    background-color: white;
    color: black;
    background-image: url(../img/compressedImages/chad-montano-eeqbbemH9-c-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#right2Whole h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20%;
    color: white;
}

#right2Whole div {
    width: 90%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#left3Whole {
    grid-area: l3W;
    background-color: white;
    color: black;
    background-image: url(../img/compressedImages/nathan-dumlao-m0ucB-06v7k-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#left3Whole h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    text-align: center;
}

#left3Whole div {
    width: 90%;
    text-align: center;
    background-color: white;
    background-color: white;
}

#right3Whole {
    grid-area: r3W;
    background-color: white;
    color: black;
    background-image: url(../img/compressedImages/nathan-dumlao-bRdRUUtbxO0-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    backdrop-filter: blur(2px);
}

#right3Whole h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    text-align: center;
    color: white;
}

#right3Whole div {
    width: 90%;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

#left4Half {
    grid-area: l4H;
    color: white;
    background-image: url(../img/compressedImages/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#left4Half h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
}

#left4Half div {
    width: 90%;
    text-align: center;
    font-size: 40px;
}

#left4Half div a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
}

#left4Half div a:hover {
    color: rgb(90, 90, 90);
    text-decoration: underline;
}

#right4Whole {
    grid-area: r4W;
    background-color: white;
    color: black;
    background-image: url(../img/compressedImages/stephanie-mccabe-U3zasaqWD-I-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#right4Whole h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    text-align: center;
    color: white;
}

#right4Whole div {
    width: 90%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#footer {
    grid-area: fo;
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* BOKA-PAGE STYLING */

#bokaMain {
    width: auto;
    height: calc(100vh - 80px);
    background-image: url(../img/compressedImages/photo-1428515613728-6b4607e44363.jpg);
    background-size: cover;
    margin: 0px;
}

iframe {
    height: 40vh;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    justify-self: center;
    align-self: center;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#bokaText {
    background-color: rgba(255, 255, 255, 0.5);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
}

/* KONTAKT-PAGE STYLING */

#kontaktMain {
    width: auto;
    height: calc(100vh - 80px);
    background-image: url(../img/compressedImages/peter-dawn-mM-L0yx5LcQ-unsplash.jpg);
    background-size: cover;
    margin-top: 80px;
}

#kontaktText {
    background-color: rgba(255, 255, 255, 0.5);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* MISC */

footer {
    background-color: white;
    display: flex;
    height: 96px;
    align-items: center;
    justify-content: center;
}

#bokaButton > a {
    box-shadow: 5px 5px black;
}

#mainPage > img {
    width: 10%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 15px;
}

hr {
    margin-top: 5px;
}